
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Environment variables
.env
.env.local
.env.*.local
.env.test

# IDE / editor files
.idea/

# OS files
.DS_Store

# Symfony cache and logs
/var/cache/
/var/log/
/var/sessions/

# Composer dependencies
/vendor/
